<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js" integrity="sha512-iZIBSs+gDyTH0ZhUem9eQ1t4DcEn2B9lHxfRMeGQhyNdSUz+rb+5A3ummX6DQTOIs1XK0gOteOg/LPtSo9VJ+w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
</head>
<style>
    .showMessages{
        width:500px;
        height:100vh;
        border: 1px solid #dadada;
    }
    .showMessages .mright { 
        position: relative;
        background: white;
        text-align: right;
        padding: 5px 15px;
        border-radius: 6px;
        border: 1px solid #ccc;
        float: right;
        right: 10px; 
    }
    .showMessages .mleft { position: relative;
        background: white;
        text-align: left;
        padding: 5px 10px;
        border-radius: 6px;
        border: 1px solid #ccc;
        float: left;
        left: 10px; }
</style>
<body>

    <input type="text" class= "message">
    <button onclick= "sendMessage()" >Send Message</button>
    <h1>Messages<br/></h1>
    <div class="showMessages"></div>


    <script src='/js/message.js'></script>
</body>
</html>